<div class="card">
    <div class="card-image">
        <figure class="image is-4by3">
            <!-- jw, Note, this image should be updated by uploaded trip photo -->
            <img src="/images/jack-anstey-XVoyX7l9ocY-unsplash.jpg" alt="Photo Test">
        </figure>
    </div>
    <div class="card-content">
        <h2 class="each_trip_title">{{location}}</h2>
        <div class="trip-description">
            <!-- trip_description will be trimmed in 10 words -->
            {{trip_description_trim trip_description}} 
        </div>
        <!--<p class="subtitle is-6">Posted By: {{user.username}}</p>-->
        <P class="subtitle is-6">Posted By: 
            {{user.username}} | 
            {{format_date created_at}} | 
            <a href="/trip/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
        </P>
    </div>
    <footer class="card-footer">
        <!--
        <a href="/trip/{{id}}" class="card-footer-item">Comment</a>
        <a href="/api/trip-details/{{id}}" class="card-footer-item">View Trip Details</a>
        <a href="/dashboard/edit/{{id}}" class="card-footer-item">Edit Trip</a>
        -->
        <a class="button is-link" href="/trip/{{id}}">View/Add Comment</a> <!-- this will render: single-trip.handlebars -->
        <a class="button is-link" href="/api/trip-details/{{id}}">View Trip Details</a>
        <a class="button is-link" href="/dashboard/edit/{{id}}">Edit Trip</a>

        <!--
            jw, I don't understand why the following does not work...
        -->
        <!--
        {{#if loggedIn}}
        <a class="button is-link" href="/trip/{{id}}">View/Add Comment</a> <! this will render: single-trip.handlebars >
        <a class="button is-link" href="/api/trip-details/{{id}}">View Trip Details</a>
        <a class="button is-link" href="/dashboard/edit/{{id}}">Edit Trip</a>
        {{else}}
        <a class="button is-link" href="/trip/{{id}}">View Comment</a> <! this will render: single-trip.handlebars >
        <a class="button is-link" href="/api/trip-details/{{id}}">View Trip Details</a>
        {{/if}}
        -->
        
    </footer>

</div>