<article>
  <a href="/dashboard"><button class="button is-primary is-pulled-right">Back to Dashboard</button></a>
  <h2 class="title mt-5">Edit Your Trip:</h2><hr>
  <form class="edit-trip-form">
    <div>
        <label for="trip-title">Trip Title:</label>
      <input class="input" name="trip-title" type="text" value="{{trip.title}}" />
    </div>
    <div>
      <label for="trip-content">Trip Content:</label>
      <input class="textarea" name="trip-content" type="text" value="{{trip.trip_description}}" />
    </div>
    <div class="is-pulled-right">
      Created by you on {{format_date trip.created_at}}
      |
      <a href="/trip/{{trip.id}}">{{trip.comments.length}} {{format_plural "comment" trip.comments.length}}</a>
    </div>
    <button type="submit" class="button is-success">save trip</button>
    <button type="button" class="button is-danger delete-post-btn">delete trip</button>
  </form>
</article>
{{> comments trip.comments}}

<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>
<script src="/js/comment.js"></script>